:root {
  --brand-color: #6347ff;
  --secondary-color: #e0e0e0;
  --main-background-color: rgb(0, 0, 0);
  --overlay-color: #8763ffb0;
  --highlight-color: #8763ff;
  --secondary-background-color: #d2cce5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1.homepage {
  font-size: 96px;
}
h3.homepage {
  font-size: 48px;
}
h3.subheader {
  font-size: 28px;
}
p,
ul.prices {
  font-size: 20px;
}
footer {
  padding-left: 60px;
  background-color: var(--main-background-color);
}
li {
  list-style: none;
}
.navul {
  line-height: 200%;
}
.brand {
  color: var(--brand-color);
}
.highlight {
  color: var(--secondary-color);
}
.mainList {
  list-style-type: none;
  font-weight: bold;
}
.subList {
  list-style-type: circle;
  font-weight: normal;
}
.bio {
  font-size: 1.2vw;
}
.logo-home {
  max-width: 600px;
}
.youtube-logo {
  color: #ff0200;
}
.twitter-logo {
  color: white;
}
.inst-logo {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.hero {
  height: fit-content;
  background-color: var(--secondary-background-color);
  padding-top: 100px;
}
.about {
  height: fit-content;
  background-color: var(--secondary-color);
  color: var(--main-background-color);
}
.about2 {
  height: fit-content;
  background-color: var(--secondary-background-color);
  color: var(--main-background-color);
}
.title {
  height: 16.5rem;
  padding-top: 75px;
  padding-left: 15%;
  font-weight: bold;
  color: var(--secondary-background-color);
  text-shadow: var(--box-shadow);
  background-image: url(/images/chameleon-studios-logo.png),
    linear-gradient(
      to right,
      rgba(99, 71, 255, 0.9) 0%,

      rgba(145, 198, 61, 0.95) 100%
    );
  background-size: 15%, 100%;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
.content {
  background-color: var(--secondary-color);
  min-height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.content2 {
  background-color: var(--secondary-background-color);
  min-height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pricing {
  background-color: var(--secondary-color);
  background-image: url(/images/microphone.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  min-height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.demo-row {
  display: flex;
  align-items: stretch;
}
.demo {
  background-color: white;
  margin: 0rem 5rem 2rem 5rem;
  padding: 2em;
  border-radius: 4px;
  transition: transform 0.3s ease;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.demo:hover {
  transform: scale(1.05);
}
.demo-thumbnail {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.contact {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  height: fit-content;
}
.work-img {
  position: relative;
  background-color: var(--main-background-color);
}
.work-img:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
  color: var(--secondary-color);
  text-shadow: var(--box-shadow);
}

.launch-button {
  background-color: var(--brand-color);
  border: solid 1.5px var(--highlight-color);
  color: var(--secondary-color);
  opacity: 0.85;
  transition: ease-in-out 100ms;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.launch-button:hover {
  background-color: var(--secondary-color);
  color: var(--brand-color);
}
.submit-button {
  background-color: var(--brand-color);
  color: var(--main-background-color);
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  border: none;
}
.submit-button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}
.linkedin-button {
  background-color: var(--main-background-color);
  color: var(--brand-color);
  font-weight: bold;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
  transition: ease-in-out 120ms;
  text-decoration: none;
}
.linkedin-button:hover {
  background-color: var(--overlay-color);
  color: var(--brand-color);
}
.github-logo {
  color: white;
  background-color: #86309f;
  border: #86309f solid 4px;
  border-radius: 50%;
}
.linkedin-logo {
  color: #0c66c2;
}
.navbar-css {
  background-color: var(--brand-color);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: var(--secondary-color);
  font-weight: 500;
}
.navbar-brand {
  color: var(--secondary-color) !important;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.nav-link {
  color: var(--secondary-background-color) !important;
}
.nav-item {
  padding: 8px;
  font-weight: 500;
}
.nav-item:hover {
  background-color: var(--brand-color);
  border-radius: 2px;
}
.link,
.link:hover {
  text-decoration: none;
}
.language {
  margin-right: 60px;
}
.language:hover {
  cursor: pointer;
}
.footer-link:hover {
  color: var(--highlight-color);
}
.ff-secfields {
  display: flex !important;
  flex-direction: column;
}
@media (hover: hover) {
  .overlay {
    opacity: 0;
    transition: ease-in-out 120ms;
  }
}
@media (hover: none) {
  .overlay {
    opacity: 1;
  }
  #vocal-overlay {
    background-color: var(--overlay-color);
    opacity: 1;
    color: var(--secondary-color);
  }
  #vocal-button {
    color: var(--secondary-color);
    opacity: 1;
  }
}
@media (max-width: 1260px) {
  .pricing {
    background-image: none;
  }
  .title {
    background-position-y: 80%;
  }
}
@media (max-width: 992px) {
  .bio {
    font-size: 1.5vw;
  }
  .content,
  .content2,
  .pricing {
    height: fit-content;
  }
  .title {
    height: 12.5rem;
    background-position-y: 90%;
  }
}
@media (min-width: 767px) {
  .logo-home {
    max-width: 600px !important;
  }
}
@media (max-width: 767px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  label {
    font-size: 26px;
  }
  .overlayTitle {
    font-size: 36px;
  }
  .about {
    padding-top: 0;
    padding-left: 0;
  }
  .about-logo {
    max-width: 450px !important;
  }
  .about-photo {
    max-height: 350px;
    width: auto !important;
    padding-top: 2.5rem;
  }
  .content,
  .content2,
  .pricing {
    height: fit-content;
  }
  .contact {
    padding-top: 35px;
    padding-right: 7.5%;
    padding-left: 7.5%;
  }
  .navbar {
    padding-right: 6px !important;
  }
  textarea {
    height: 3em;
  }
  footer {
    font-size: 10px;
  }
  .underline {
    color: var(--brand-color);
  }
  .title {
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 25px;
  }
  .bio {
    font-size: 4.5vw;
  }
  .demo {
    margin: 0rem 3rem 2rem 3rem;
  }
  .img-voicecoach {
    max-width: 50% !important;
  }
}
@media (max-width: 576px) {
  .title {
    height: fit-content;
    padding-bottom: 25px;
    background-color: var(--secondary-color);
    color: var(--main-background-color);
    background-image: none;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
  }
  .about-logo {
    max-width: 350px !important;
  }
  .img-voicecoach {
    padding-right: 0 !important;
  }
}
