:root {
  --brand-color: #6347ff;
  --secondary-color: rgb(255, 255, 255);
  --main-background-color: rgb(0, 0, 0);
  --highlight-color: #8763ffb0;
  --highlight-color-light: #8763ff;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  text-align: center;
}
h3 {
  font-size: 48px;
}
p,
label {
  font-size: 36px;
}
footer {
  padding-left: 60px;
  background-color: var(--main-background-color);
}
.youtube-logo {
  color: #ff0200;
}
.twitter-logo {
  color: white;
}
.inst-logo {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.hero,
.about,
.contact {
  height: 100vh;
  padding-top: 100px;
  padding-left: 60px;
}
.hero {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  background-image: url(/src/images/profile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 115%;
}
.name {
  color: var(--brand-color);
}
.about {
  background-color: var(--secondary-color);
  color: var(--main-background-color);
}
.contact {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
}
.work-img {
  position: relative;
  background-color: var(--main-background-color);
}
.work-img:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: var(--highlight-color);
}
.overlay p {
  font-size: 28px;
}
.launch-button {
  background-color: var(--main-background-color);
  color: var(--brand-color);
  opacity: 0.85;
  transition: ease-in-out 100ms;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  border: none;
}
.launch-button:hover {
  background-color: var(--secondary-color);
  color: var(--brand-color);
}
.submit-button {
  background-color: var(--brand-color);
  color: var(--main-background-color);
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  border: none;
}
.submit-button:hover {
  background-color: var(--highlight-color-light);
  color: var(--secondary-color);
}
.linkedin-button {
  background-color: var(--main-background-color);
  color: var(--brand-color);
  font-weight: bold;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
  transition: ease-in-out 120ms;
  text-decoration: none;
}
.linkedin-button:hover {
  background-color: var(--highlight-color);
  color: var(--brand-color);
}
.github-logo {
  color: white;
  background-color: #86309f;
  border: #86309f solid 4px;
  border-radius: 50%;
}
.linkedin-logo {
  color: #0c66c2;
}
.navbar-css {
  background-color: var(--highlight-color-light);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.nav-item {
  padding: 8px;
}
.nav-item:hover {
  background-color: var(--brand-color);
  border-radius: 2px;
}
#portfolio-rep-link:hover {
  color: var(--brand-color);
  font-weight: bold;
}
@media (hover: hover) {
  .overlay {
    opacity: 0;
    transition: ease-in-out 120ms;
  }
}
@media (hover: none) {
  .overlay {
    opacity: 0.85;
  }
  #vocal-overlay {
    background-color: var(--secondary-color);
    opacity: 0.55;
  }
  #vocal-button {
    color: var(--secondary-color);
  }
}

@media (max-width: 576px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  h1 {
    font-size: 36px;
  }
  .hero h1 {
    font-size: 96px;
    line-height: 1.5;
  }
  h2 {
    font-size: 36px;
  }
  .about {
    padding-top: 0;
    padding-left: 0;
  }
  p {
    font-size: 16px;
  }
  label {
    font-size: 26px;
  }
  .hero {
    background-image: none;
    padding-right: 15%;
  }
  .contact {
    padding-top: 35px;
    padding-right: 15%;
  }
  .navbar {
    padding: 6px !important;
  }
  textarea {
    height: 3em;
  }
  footer {
    font-size: 10px;
  }
}
